.App {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: black;
  height: 120px;
  width: 100%;
  display: flex;
}

header img {
  margin-left: 2rem;
}
.cards-shelf {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  align-items: space-between;
}

h1 {
  background-color: chocolate;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-scroller {
  background-color: cadetblue;
  height: 11rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.card {
  background-color: blueviolet;
  border: 2px white solid;
  box-sizing: border-box;
  height: 11rem;
  width: 18rem;
  flex-shrink: 0;
}
